body {
  margin: 0;
  text-align: center;
  font-family: 'Space Mono', monospace;
  background-color: #B4A5A5
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5.5rem;
}

h2 {
  font-size: 2.5rem;

}

h3 {
  color: #6930C3;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 10%;
}

.subtitle {
  font-weight: normal;
  /* line-height: 2; */
}

a {
  color: #C70039;

}
a:hover {
  color: #6930C3;
}

.journey-head {
  font-family: 'Sacramento', cursive;
}

.top-container {
  background-color: #301B3F;
  color: #B4A5A5;
  width: 100%;
  position: relative;
  padding-top: 100px;
  /* border: 10px solid hotpink; */
  /* padding: 20px; */

}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.code-icon {
  width: 25%;
  float: left;
  margin-right: 30px;
}



.comm-icon {
  width: 25%;
  float: right;
  margin-left: 30px;

}

/* .comm-info {
  clear: right;
} */



.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;

}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 45px;
}

#profile-pic {
  height: 250px;
  width: 250px;
  margin: 8em 0 0 0;
}
