body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;

}

.top-container {
  background-color: #151515;
  color: #B4A5A5;
  width: 100%;
  position: relative;
  padding-top: 100px;
  /* border: 10px solid hotpink; */
  /* padding: 20px; */

}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;

}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 45px;
}

/* .middle-container {
  width: 200px;
  height: 200px;
  background-color: darkred;
  border: 20px solid green;
  margin-bottom: 10px;
  margin-left: 260px;
  padding: 20px;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: gold;
  border: 10px solid black;
  margin-left: 500px;
} */
